
useDynLib(BASeG)

# ------------------------------------------
# Export directives.  
# ------------------------------------------

export(ase_joint)
export(trec_joint)


# ------------------------------------------
# S3method declarations.  
# ------------------------------------------

